.carouselThumbnail
  .carouselThumbnail__container
    .carouselThumbnail__arrow.carouselThumbnail__arrow_left(ng-show="_left",ng-click="_offsetLeft()")
    .carouselThumbnail__thumbnails(ng-repeat="thumbnails in _model")
      img.carouselThumbnail__img(ng-class="{carouselThumbnail__img_selected: $index == _selected}",src="{{thumbnails}}",ng-click="onClick($index,thumbnails)")
    .carouselThumbnail__arrow.carouselThumbnail__arrow_right(ng-show="_right",ng-click="_offsetRight()")